@using CC.Models.BusinessLogic.Home
@using CC.Models.Classes
@using CC.Models.Enums

@model CC.Models.Classes.Object.ObjectModel

@Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors }
)
@Html.DevExpress().GetScripts(
new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.Editors }
)

@{
    ViewBag.Title = "Objects";
    int parentId = MySession.Current.ParentId;
}

<h2>Lista de Obiecte</h2>

@if (parentId > 0)
{
    <h3>@Html.ActionLink(
            TranslateWord.GetWord("back", MySession.Current.Language), 
            ModuleTypes.Objects.ToString(), 
            Controllers.Object.ToString(), new { objectId = MySession.Current.ParentId }, null)</h3>
}

@Html.Action("GridViewObjects")
