<?xml version="1.0" ?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-C2THCD5;initial catalog=AttendanceDB;user id=sa;password=moraru11;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="ExcelentConstructWorkers" connectionString="metadata=res://*/Models.Workers.csdl|res://*/Models.Workers.ssdl|res://*/Models.Workers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructEntitiesObjects" connectionString="metadata=res://*/Models.Objects.csdl|res://*/Models.Objects.ssdl|res://*/Models.Objects.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructWorks" connectionString="metadata=res://*/Models.Works.csdl|res://*/Models.Works.ssdl|res://*/Models.Works.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructObjectMaterial" connectionString="metadata=res://*/Models.ObjectMaterials.csdl|res://*/Models.ObjectMaterials.ssdl|res://*/Models.ObjectMaterials.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructObjectInstruments" connectionString="metadata=res://*/Models.ObjectInstruments.csdl|res://*/Models.ObjectInstruments.ssdl|res://*/Models.ObjectInstruments.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructObjectExtras" connectionString="metadata=res://*/Models.ObjectExtras.csdl|res://*/Models.ObjectExtras.ssdl|res://*/Models.ObjectExtras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructSetting" connectionString="metadata=res://*/Models.Setting.csdl|res://*/Models.Setting.ssdl|res://*/Models.Setting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExcelentConstructUnit" connectionString="metadata=res://*/Models.Unit.csdl|res://*/Models.Unit.ssdl|res://*/Models.Unit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ECWorkerPayment" connectionString="metadata=res://*/Models.WorkerPayment.csdl|res://*/Models.WorkerPayment.ssdl|res://*/Models.WorkerPayment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ECSpecialityEntities" connectionString="metadata=res://*/Models.Speciality.csdl|res://*/Models.Speciality.ssdl|res://*/Models.Speciality.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkerSpecialityEntities" connectionString="metadata=res://*/Models.WorkerSpeciality.csdl|res://*/Models.WorkerSpeciality.ssdl|res://*/Models.WorkerSpeciality.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpecialityEntities" connectionString="metadata=res://*/Models.Speciality.csdl|res://*/Models.Speciality.ssdl|res://*/Models.Speciality.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkDayEntities" connectionString="metadata=res://*/Models.WorkDays.csdl|res://*/Models.WorkDays.ssdl|res://*/Models.WorkDays.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkerContractEntities" connectionString="metadata=res://*/Models.WorkerContract.csdl|res://*/Models.WorkerContract.ssdl|res://*/Models.WorkerContract.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkerSalaryContractEntities" connectionString="metadata=res://*/Models.WorkerSalaryContract.csdl|res://*/Models.WorkerSalaryContract.ssdl|res://*/Models.WorkerSalaryContract.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportSettingEntities" connectionString="metadata=res://*/Models.ReportSetting.csdl|res://*/Models.ReportSetting.ssdl|res://*/Models.ReportSetting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MaterialToBuyEntities" connectionString="metadata=res://*/Models.MaterialToBuy.csdl|res://*/Models.MaterialToBuy.ssdl|res://*/Models.MaterialToBuy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerEntities" connectionString="metadata=res://*/Models.Customer.csdl|res://*/Models.Customer.ssdl|res://*/Models.Customer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TreatmentEntities" connectionString="metadata=res://*/Models.Treatment.csdl|res://*/Models.Treatment.ssdl|res://*/Models.Treatment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ObjectPaymentEntities" connectionString="metadata=res://*/Models.ObjectPayments.csdl|res://*/Models.ObjectPayments.ssdl|res://*/Models.ObjectPayments.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;persist security info=True;user id=sa;password=moraru11;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoanMoneyEntities" connectionString="metadata=res://*/Models.LoanMoneyModel.csdl|res://*/Models.LoanMoneyModel.ssdl|res://*/Models.LoanMoneyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;integrated security=False;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AspNetUsersEntities" connectionString="metadata=res://*/Models.AspNetUsersModel.csdl|res://*/Models.AspNetUsersModel.ssdl|res://*/Models.AspNetUsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=AttendanceDB;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AspNetRolesEntities" connectionString="metadata=res://*/Models.AspNetRoles.csdl|res://*/Models.AspNetRoles.ssdl|res://*/Models.AspNetRoles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=AttendanceDB;persist security info=True;user id=sa;password=moraru11;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoanMoneyDetailsEntities" connectionString="metadata=res://*/Models.LoanMoneyDetailsModel.csdl|res://*/Models.LoanMoneyDetailsModel.ssdl|res://*/Models.LoanMoneyDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C2THCD5;initial catalog=ExcelentConstruct;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc5.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <globalization culture="" uiCulture="" />
    <pages validateRequest="true" clientIDMode="AutoID">
      <namespaces>
        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web.ASPxThemes" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <add namespace="DevExpress.XtraReports" />
        <add namespace="DevExpress.XtraReports.UI" />
        <add namespace="DevExpress.XtraReports.Web" />
        <add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Metropolis" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" checkReferencesToExternalScripts="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportServiceBinding" maxReceivedMessageSize="4194304" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!--<service behaviorConfiguration="ReportServiceBehavior" name="CC.Reports.ReportService1">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ReportServiceBinding" contract="DevExpress.XtraReports.Service.IReportService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->
    </services>
  </system.serviceModel>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>